.calculator {
    background-color: $color-secondary;
    padding: 100px 30px 36px 30px;
    border-radius: 39px;
    box-shadow: 60px 30px 50px 10px $shadow;
    
    &__display {
        text-align: end;
    }
    
    &__expression {
        color: #818181;
        font-size: 18px;

        span {
            color: map-get($blues, 300);
        }
    }

    &__result {
        font-size: 36px;
        font-weight: 500;
        color: $color-light;
        margin-top: 14px;
    }

    &__controller {
        margin-top: 50px;
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
                            'header header header sidebar'
                            'number number number sidebar'
                            'number number number sidebar'
                            'number number number sidebar'
                            'footer footer footer sidebar';
                            
    }

    &__header {
        display: grid;
        justify-content: space-between;
        grid-auto-flow: column;
        grid-area: header;
    }

    &__sidebar {
        display: grid;
        align-content: space-between;
        grid-gap: 10px;
        grid-area: sidebar;
    }

    &__numbers {
        display: grid;
        align-content: space-between;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-area: number;
    }

    &__numbers-footer {
        display: grid;
        grid-auto-flow: column;
        grid-area: footer;
        grid-gap: 10px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 40px;
        border-radius: 6px;
        font-weight: 600;
        color: map-get($blues, 300);
        font-size: 18px;
        background: #303136;

        transition: filter 0.4s;

        &:hover {
            filter: brightness(1.6);
        }

        &--medium {
            height: 65px;
        }

        &--large {
            width: 94px;
        }

        &--light {
            background: #616161;
            color: #A5A5A5;
            font-weight: 400;
        }

        &--blue {
            background: map-get($blues, 400);
            color: #339DFF;
        }

        &--blue-light {
            background: map-get($blues, 300);
            color: map-get($blues, 100);
        }

        img {
            width: 18px;
        }
    }
}